.register-container {
    font-family: 'Roboto Condensate', sans-serif;
    width: 60%;
}

.register-container h1 {
    font-size: 1.7rem;
    margin: 2rem 0;
}

.register-container form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10%;
    width: 100%;
}

.register-container form .left,
.register-container form .right
{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0.5em;
}

.register-container form input {
    width: 100%;
    height: 2rem;
    padding: 2rem;
    border: 1px solid lightgray;
    padding: 1.3rem 0.5rem;
}

.register-container form input:focus {
    outline: none;
}

.register-container form input[type="checkbox"] {
    width: auto;
}

.register-container form .bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    width: 38%;
    margin: 1rem 0;
}

.register-container form .bottom button {
    border: 1px solid #3e87d0;
    background: #3e87d0;
    color: #fff;
    cursor: pointer;
    transition: 0.2s all;
    font-size: 1rem;
    padding: 0.2rem;
    font-family: "Robot Condensed", sans-serif;
}

.register-container form .bottom button:hover {
    background: #fff;
    color: #3e87d0;
}